/*title*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
/*Chinese*/
@font-face {
    font-family: "LogoTypeGothic";
    src: url("../font/07LogoTypeGothic7.ttf");
}
/*Everything else*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

/*language*/
html {
    font-family: "Inconsolata", monospace;
    background-color: #dedede;
}

html .zh {
    font-family: "LogoTypeGothic", sans-serif;
}

/*formats*/
body {
    margin: 0;
    padding: 0;
}
.title {
    font-family: "Roboto Slab", serif;
    background-color: black;
    margin: 0 0 10px 0;
    padding: 10px;
    width: 100%;

    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: #dedede;
}
/*menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

    width: 60%;
    margin-inline: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 10px;
}
.menu-item {
    border: none;
    background-color: black;

    color: white;
    text-align: center;
    font: inherit;

    cursor: pointer;
}
.menu2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    width: 60%;
    margin-inline: auto;
    padding: 15px;
    background-color: #bebebe;
    /*border-style: solid none none none;
    border:5px #2e2e2e;*/
}

/*bits*/
.bit-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    padding: 10px;
    margin: 40px;
}
.bits{
    background-color: black;
    border-radius: 5px;
    padding: 10px;

    font-size: 100px;
    font-weight: 700;
    color: white;
    text-align: center;

    cursor: pointer;
    user-select: none;
}
.bits:active {
    transform: scale(0.99);
}

.bits.zero {
    background-color: black;
    color: white;
    /*border: 5px solid transparent;*/
}
.bits.zero:hover {
    /*animation: tiny-grow 0.2s ease-out forwards 1;*/
    background-color: #424242;
}
.bits.one {
    background-color: white;
    color: black;
    /*border: 5px solid black;*/
}
.bits.one:hover {
    background-color: #eeeeee;
}

/*signed bits*/
.sign.zero {
    background-color: #0000aa;
    color:#8a8aff;
}
.sign.zero:hover {
    background-color: #0000bb;
    color:#8a8aff;
}
.sign.one {
    background-color: #aa0000;
    color:#ff8a8a;
}
.sign.one:hover {
    background-color: #bb0000;
    color:#ff8a8a;
}

/*misc*/
.wip {
    background-color: #6f6f6f;
    color:#2e2e2e;
}

#help {
    cursor: help;
}
@keyframes tiny-grow {
    0% {transform: scale(1);}
    100% {transform: scale(1.05);}
}