/*title*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
/*Everything else*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

/*Chinese*/
@font-face {
    font-family: "LogoTypeGothic";
    src: url("../font/07LogoTypeGothic7.ttf");
}


/*language*/
html {
    font-family: "Inconsolata", monospace;
    background-color: #dedede;
}

html .zh {
    font-family: "LogoTypeGothic", sans-serif;
}

/*formats*/
html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
}
.title {
    font-family: "Roboto Slab", serif;
    background-color: black;
    margin: 0 0 10px 0;
    padding: 10px;
    width: 100%;

    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: #dedede;
}
button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	/*outline: inherit;*/
}
/*menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

    width: 60%;
    margin-inline: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 10px;
}
.menu-item {
    border: none;
    background-color: black;

    color: white;
    text-align: center;
    font: inherit;

    cursor: pointer;
}
.menu2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    width: 60%;
    margin-inline: auto;
    padding: 15px;
    background-color: #bebebe;
    /*border-style: solid none none none;
    border:5px #2e2e2e;*/
}

/*bits*/
.bit-containers {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    padding: 10px;
    margin: 40px;
}

.bit-groups {
    display: flex;
    flex-wrap: nowrap;
    min-width: 0;
    max-width: 100%;
}
.bit-groups::before {
    position: absolute;
    bottom: -5px;
    /*content to be hard coded*/
}
/*depr
.bitsWide {
    background-color: black;
    border-radius: 5px;
    padding: 10px;

    font-size: 100px;
    font-weight: 500;
    color: white;
    text-align: center;

    cursor: pointer;
    user-select: none;
}
*/
/*compact*/
.bits {
    background-color: black;
    padding-inline: 10px;
    margin: 5px 0 0 0;

    font-size: 100px;
    font-weight: 500;
    color: white;
    text-align: center;
    min-block-size: 0;

    cursor: pointer;
    user-select: none;
}

.bits+.bits {
    border-left:3px solid gray;
}

/*.bits:active {
    transform: scale(0.99);
}*/

.bits.zero {
    background-color: black;
    color: white;
    /*border: 5px solid transparent;*/
}
.bits.zero:hover {
    /*animation: tiny-grow 0.2s ease-out forwards 1;*/
    background-color: #424242;
}
.bits.one {
    background-color: white;
    color: black;
    /*border: 5px solid black;*/
}
.bits.one:hover {
    background-color: #eeeeee;
}

.bits:focus-visible {
    --bracket: rgb(0, 255, 200);
    background-image: linear-gradient(var(--bracket), var(--bracket)),
        linear-gradient(var(--bracket), var(--bracket)),
        linear-gradient(var(--bracket), var(--bracket)),
        linear-gradient(var(--bracket), var(--bracket));

    background-repeat: no-repeat;
    background-size: 8px 3px;
        /* ^^^ This value should be equal to width of left OR right border.*/
    background-position: top left, top right, bottom left, bottom right;

    border: solid var(--bracket);
    border-width: 0 3px;
}
/*signed bits*/
.sign.zero {
    background-color: #0000aa;
    color:#8a8aff;
}
.sign.zero:hover {
    background-color: #0000bb;
    color:#8a8aff;
}
.sign.one {
    background-color: #aa0000;
    color:#ff8a8a;
}
.sign.one:hover {
    background-color: #bb0000;
    color:#ff8a8a;
}

/*misc*/
.wip {
    background-color: #6f6f6f;
    color:#2e2e2e;
}

#help {
    cursor: help;
}
@keyframes tiny-grow {
    0% {transform: scale(1);}
    100% {transform: scale(1.05);}
}

/*gd colon kitsune uwu*/